.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
groq-extension-portable/**
MARKETPLACE_PUBLISHING.md
GITHUB_SETUP.md
test-examples.*
node_modules/**
out/**
*.vsix